<ion-content [fullscreen]="true">
  <div id="contenedor">
    <div class="title-container">
      <div class="title">Te llevo APP</div>
      <ion-icon id="volver" name="arrow-back-outline" (click)="volverPaginaAnterior()"></ion-icon>
    </div>
    <div class="data-container">
      <ion-card>
        <ion-card-header>
          Viajes disponibles
        </ion-card-header>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Destino</ion-label>
              {{ data.destino }}
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Precio</ion-label>
              {{ data.precio }}
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Asientos</ion-label>
              {{ data.asientos }}
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Hora</ion-label>
              {{ data.hora }}
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              {{ data.telefono }}
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Chofer</ion-label>
              {{ data.chofer }}
            </ion-item>
          </ion-list>
        
      </ion-card>
    </div>
  </div>

  <footer>
    <ion-icon routerLink="/historial" name="stats-chart-outline"></ion-icon>
    <ion-icon name="home-outline"></ion-icon>
    <ion-icon name="wallet-outline"></ion-icon>
  </footer>
</ion-content>
