@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}
.title-container {
  background-color: #f7a817;
  color: #fff;
  padding: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  margin-top: 8px;
}
#volver{
  width: 30px;
  height: 30px;
}

#contenido {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  padding: 0px 3%;
  text-align: center;
  background-color: #fff;
  color: #000;
  row-gap: .6rem;
}

#map {
  height: 40vh;
  width: 100%;
}

.input-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem; 
  color: #000;
}

input{
  width: 120px;
  background-color: transparent;
  border: 1px solid #ffab10;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7a817;
  color: rgb(251, 252, 250);
  height: 10vh;
} 

footer ion-icon {
  margin: 4%;
  width: 50px;
  height: 35px;  
}
ion-button.mi-boton {
  background-color: orange !important;
  color: white !important;
}
