<!-- pasajero.page.html -->
<ion-content [fullscreen]="true">
  <div class="title-container">
    <div class="title">Te llevo APP</div>
    <ion-icon id="volver" name="arrow-back-outline" (click)="volverPaginaAnterior()"></ion-icon>
  </div>
  <div id="contenido">
    <div #map id="map"></div>
    <h3>Destino</h3>
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="end" (input)="updateSearchResults()" placeholder="Destino">
      <input type="text" [(ngModel)]="precio" placeholder="Precio">
    </div>
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="asientos" placeholder="Asientos">
      <input type="text" [(ngModel)]="hora" placeholder="Hora">
    </div>
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="telefono" placeholder="Teléfono">
      <input type="text" [(ngModel)]="chofer" placeholder="Chofer">
    </div>
    <div class="botones">
      <ion-button expand="full" class="mi-boton" (click)="submitForm()">Iniciar</ion-button>
    </div>
    <ion-list *ngIf="autocompleteItems" [hidden]="autocompleteItems.length === 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div>
  <footer>
    <ion-icon routerLink="/historial" name="stats-chart-outline"></ion-icon>
    <ion-icon name="home-outline"></ion-icon>
    <ion-icon name="wallet-outline"></ion-icon>
  </footer>
</ion-content>



  <!-- <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>{{ viaje.nombre }}</h2>
        <p>Destino: {{ viaje.destino }}</p>
        <p>Cupos Disponibles: {{ viaje.cupos }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <p>Contactar al conductor: {{ viaje.telefono }}</p>
      </ion-label>
      <ion-button expand="full" (click)="contactarConductor(viaje.telefono)">Contactar Conductor</ion-button>
    </ion-item>
  </ion-list> -->
